@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form input:focus {
    border-color: #43A047;
}
.login-page {
 position: absolute;
  width: 40%;
  left: 30%;
  top: 10%;
  padding: 8% 0 0;
  margin: 0 auto;
    
    opacity: .96;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: solid thin transparent;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form textarea{
    font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: solid thin transparent;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
    resize: none;
    
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/*AVISO*/
#prop{
    position: absolute;
    bottom: 20;
    left: 40%;
    background-color: darkgray;
    opacity: .7;
    width: 20%;
    text-align: center;
}
#head{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    bottom: 80%;
    width: 28%;
    background-color: white;
    right: 35.3%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    opacity: .9;
}
/*ERROR*/
#error{
    font-family: "Roboto", sans-serif;
    color:red; position: relative; top: 20px; display: none;
}
/*MARKETING*/
#marketing{
    font-family: "Roboto", sans-serif;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 60px;
    width: 100%;
    font-size: 20pt;
    background-color: white;
    opacity: .7;
    line-height: 150%;
}
@media only screen and (max-width : 800px){
    .login-page {
        width: 60%;
        left: 20%;
        top: 15%;
    }
    #head{
        width: 50%;
        right: 25%;
    }
}
@media only screen and (max-width : 450px){
    .login-page {
        width: 90%;
        left: 5%;
        top: 20%;
    }
    #head{
        width: 80%;
        left: 7%;
    }
    #marketing{
        font-size: 16pt;
    }
}