/* CSS Document */

//VARIABLES
$bcolor: background-color;
$tdeco: text-decoration;
$p: padding;
$gray : #C0C0C0;

//MIXINS
@mixin outline(){
    border-style: solid;
    border-color: none;
    outline-color: $gray;
}
@mixin margin($top, $bot, $left, $right){
    margin-top: $top;
    margin-bottom: $bot;
    margin-left: $left;
    margin-right: $right;
}
@mixin padding($top, $bot, $left, $right){
    padding-top: $top;
    padding-bottom: $bot;
    padding-left: $left;
    padding-right: $right;
}
@mixin dimensions($w, $h){
    width: $w;
    height: $h;
}
@mixin border($top, $bottom){
border-top: $top;
border-bottom: $bottom;
}

/*GENERAL*/
*{
  #{$p}:0px;
  margin:0px;
}
a{
	color: #003399;
}
ul{
	list-style: none;
	list-style-type: none;
}
a:link{
	#{$tdeco}: none;
}
rect{
	z-index:0;
}
body{
  font-family: 'Harabara', sans-serif;
  font-size: 12pt;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*HEADER*/
#header{
    @include dimensions(100%, 90px);
    @include border(none, thin solid $gray);
	position: absolute;
	z-index: 4;
	transition: #{$bcolor} 0.5s ease;
    #{$bcolor}:white;
    min-height: 65px;
	}
#lupa{
 z-index: 3;
 float: right;
 @include margin(0px, none, none, 30px);
}
#big{
    @include outline();
    @include dimensions(150px, 35px);
    @include margin(0px, none, none, none);
    font-family: 'Arial', sans-serif;
    float:right;
    font-size: 19;
    text-align: center;
    color: #706F6F;
    
}
#big:focus{
    @include outline();
}
#searchc{
    @include margin(-55px, none, none, 0px);
    margin-right: 0px;
    right: 20px;
    text-align: right;
}
#exit{
float:right; 
margin-top: 5px;
margin-left: 10px;
}
#dmenu{
float:left; 
margin-left: 18px; 
height: 45px; 
    width: 58px;
margin-top: 25px;
}
/*SUBHEADER*/
#subheader{
  z-index: 2;
  margin-top:90px;
  @include dimensions(100%, 35px);
  @include border(thin solid $gray, thin solid $gray);
  position:absolute;
  background: white;
  text-align: center;
    
cursor: pointer;
}
#empresa{
 position: absolute;
 z-index: 1;
 top: 55px;
 left: 45px;
}
/*SUBSUBHEADER*/
#searchheader{
@include dimensions(100%, 35px);
background-color: white;
margin-top: 125px;
@include border(thin solid $gray, thin solid $gray);
position: fixed;
    text-align: right;
    z-index: 1;
}
.bu{
    margin-right: 10px;
    margin-top: 10px;
}
/*MENU - BEHAVIOUR*/
li img{
	margin-left:6px;
	}
#menu{
    width: 580px;
    margin: 0 auto;
}
#menu a li, #menu li, #configm li{
    @include padding(none, none, 10px, 10px);
	line-height: 200%;
	float: left;
	}
.borde{
    @include dimensions(2px, 35px);
	background-color: black;
	float: left;
	}
.borde2{
    @include dimensions(2px, 35px);
	background-color: black;
	float: right;
    margin-right: 10px;
	}
li{
	color: black;
	}

#menu a li:hover, #menu a li.active{
    -webkit-transition: color, 125ms, ease;
	cursor: pointer
	}
/*SUBSUBHEADER*/
#subsubheader{
width: 100%;
    height: 30px;
    position: fixed;
    margin-top: 200px;
    background-color: red;
}
/*CONTENT*/
#content{
position: absolute;
    color: white;
}
/*MENU NOTI*/
#usermenu{
display: block;
	position: fixed;
	opacity: 0.98;
	width: 60px;
	z-index: 98;
    margin-right: 80px;
    float: right;
    right: 15;
    cursor: pointer;
    margin-top: 85px;
    font-size: 12;
}
#tri2{
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent gray transparent;
opacity: 0.95;
margin-top: -10px;
cursor: default;
margin-right: 0px; float: right; 
}
#configm{
	display: block;
	position: fixed;
	opacity: 0.92;
	width: 50px;
	z-index: 98;
    margin-left: 40px;
    float: left;
    left: 0%;
    cursor: pointer;
    margin-top: 5px;
	}
	.cm{
	width: 100px;
	cursor: pointer;
	}
#con{
float: left;
}

#tri{
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent gray transparent;
opacity: 0.95;
margin-top: 75px;
cursor: default;
    margin-left: 40px; float: left; 
}
.cm{
	background-color: gray;
	text-align: left;
	font-style: normal;
	color: white;
	font-size: 16px;
	alignment-adjust:central;
	border-bottom: 3px solid gray;
	width: 120;
	}
	.cm:hover{
	background-color: $gray;
	border-bottom: 3px solid $gray;
		}
.cm2{
background-color: gray;
	text-align: left;
	font-style: normal;
	color: white;
	font-size: 16px;
	alignment-adjust:central;
	border-bottom: 3px solid gray;
	width: 120;
    padding-top: 10px;
    padding-bottom: 5px;
}
.cm2:hover{
	background-color: $gray;
	border-bottom: 3px solid $gray;
}
#plus:hover{
    content: url(../images/plusA.svg);
}
#menuplustri{
    display: none;
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent darkgray transparent;
opacity: 0.95;
margin-top: -10px;
cursor: default;
margin-right: 30px; float: right; 
}

#usr:hover{
    content: url(../images/usrA.svg);
}
#lupa:hover{
    content: url(../images/lupaA.svg);
}
#dmenu:hover{
    content: url(../images/rayasA.svg);
}
#co:hover{
    content: url(../images/configA.svg);
}
#plus:hover{
    content: url(../images/plusA.svg);
}
/*MENUES INTERNOS*/
#listaInt1, #listaInt2, #listaInt3{
    position: fixed;  
    width: 200px;
    color: white;
    overflow: hidden;
    margin-top: -2px;
    margin-left: -10px;
}
#listaInt4, #listaInt5, #listaInt6{
    position: fixed;  
    width: 200px;
    color: white;
    overflow: hidden;
    margin-top: -2px;
}
#listaInt2{
    background-color: rgb(104, 180, 250);    
}
#listaInt1{
    background-color: rgb(90, 100, 183);
}
#listaInt3{
    background-color: rgb(197, 49, 57);
}
#listaInt4{
    background-color: green;
        margin-left: -120px;
}
#listaInt5{
    background-color: rgb(239, 139, 19);
    margin-left: -97px;
}
#listaInt6{
    background-color: rgb(82, 32, 110);
    margin-left: -123px;
}
.li1, .li2, .li3{
    color: white;
    width: 200px;
    text-align: left;
}
.li4, .li5, .li6{
    color: white;
    width: 180px;
    text-align: right;
}
.li1:hover{
    background-color: #9197C9;
}
.li2:hover{
    background-color: #B3D4F2;
}
.li3:hover{
    background-color: #DB6066;
}
.li4:hover{
    background-color: #2DA12D;
}
.li5:hover{
    background-color: #FFB963;
}
.li6:hover{
    background-color: #734C8A;
}
#menuplus{
    display: none;
}

/*TEST MEDIA QUERY*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 944px){
#menuplustri{
    display: block;
    }
    #menuplus{
        display: block;
        width: 160px;
        height: 60px;
        background-color:darkgray;
        float: right;
        margin-right: 30px;
    }
    #limage{
        width: 50%;
    }
    #content{
        background-color: white;
    }
    #menu{
        width: 100px;
        float: left;
    }
    #subheader{
        height: auto;
        text-align: left;
        width: 120px;
        position: fixed;
        z-index: 2;
    }
    .borde{
        display: none;
    }
    .sizable{
        width: 100px;
        height: 30px;
    }
    #listaInt1, #listaInt2, #listaInt3, #listaInt4, #listaInt5, #listaInt6{
        margin-top: -36px;
        margin-left: 110px;
    }
    .li4, .li5, .li6{
        text-align: left;
    }
    #logo2{
        display: none;
    }
    #1, #2, #3, #4, #5, #6{
        height: 3;
    }
    .bu{
        width: 100px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation: landscape){
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation: portrait){
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}