/* CSS Document */

//VARIABLES
$bcolor: background-color;
$tdeco: text-decoration;
$p: padding;
$gray : #C0C0C0;

//MIXINS
@mixin outline(){
    border-style: solid;
    border-color: none;
    outline-color: $gray;
}
@mixin margin($top, $bot, $left, $right){
    margin-top: $top;
    margin-bottom: $bot;
    margin-left: $left;
    margin-right: $right;
}
@mixin padding($top, $bot, $left, $right){
    padding-top: $top;
    padding-bottom: $bot;
    padding-left: $left;
    padding-right: $right;
}
@mixin dimensions($w, $h){
    width: $w;
    height: $h;
}
@mixin border($top, $bottom){
border-top: $top;
border-bottom: $bottom;
}

/*GENERAL*/
*{
  #{$p}:0px;
  margin:0px;
}
a{
	color: #003399;
}
ul{
	list-style: none;
	list-style-type: none;
}
a:link{
	#{$tdeco}: none;
}
rect{
	z-index:0;
}
body{
  font-family: 'Harabara', sans-serif;
  font-size: 12pt;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*HEADER*/
#header{
    @include dimensions(100%, 90px);
    @include border(none, thin solid $gray);
	position: absolute;
	z-index: 1;
	transition: #{$bcolor} 0.5s ease;
    #{$bcolor}:white;
    min-height: 65px;
    overflow: hidden;
	}
#lupa{
 z-index: 3;
 float: right;
 @include margin(0px, none, none, 30px);
}
#big{
    @include outline();
    @include dimensions(150px, 35px);
    @include margin(0px, none, none, none);
    font-family: 'Arial', sans-serif;
    float:right;
    font-size: 19;
    text-align: center;
    color: #706F6F;
    
}
#big:focus{
    @include outline();
}
#searchc{
    @include margin(-55px, none, none, 0px);
    margin-right: 0px;
    right: 20px;
}
#exit{
float:right; 
margin-top: 5px;
margin-left: 10px;
}
#dmenu{
float:left; 
margin-left: 18px; 
height: 30px; 
margin-top: 18px;
}
/*SUBHEADER*/
#subheader{
  z-index: 1;
  margin-top:90px;
  @include dimensions(100%, 35px);
  @include border(thin solid $gray, thin solid $gray);
  position:fixed;
  background: white;
  text-align: center;
    
cursor: pointer;
}
#empresa{
 position: absolute;
 z-index: 1;
 top: 55px;
 left: 45px;
}
/*SUBSUBHEADER*/
#searchheader{
@include dimensions(100%, 35px);
background-color: white;
margin-top: 125px;
@include border(thin solid $gray, thin solid $gray);
position: fixed;
    text-align: right;
    z-index: 1;
}
.bu{
    margin-right: 10px;
    margin-top: 10px;
}
/*MENU - BEHAVIOUR*/
li img{
	margin-left:6px;
	}
#menu{
    width: 590px;
    margin: 0 auto;
}
#menu a li, #menu li, #configm li{
    @include padding(none, none, 10px, 10px);
	height: 30px;
	line-height: 200%;
	float: left;
	}
.borde{
    @include dimensions(2px, 35px);
	background-color: black;
	float: left;
	}
.borde2{
    @include dimensions(2px, 35px);
	background-color: black;
	float: right;
    margin-right: 10px;
	}
li{
	color: black;
	}

#menu a li:hover, #menu a li.active{
    -webkit-transition: color, 125ms, ease;
	cursor: pointer
	}
/*SUBSUBHEADER*/
#subsubheader{
width: 100%;
    height: 30px;
    position: fixed;
    margin-top: 200px;
    background-color: red;
}
/*CONTENT*/
#content{
position: absolute;
}
/*MENU NOTI*/
#usermenu{
display: block;
	position: fixed;
	opacity: 0.92;
	width: 60px;
	z-index: 98;
    margin-right: 80px;
    float: right;
    right: 15;
    cursor: pointer;
    margin-top: 75px;
    font-size: 12;
}
#tri2{
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent gray transparent;
opacity: 0.95;
margin-top: -10px;
cursor: default;
margin-right: 0px; float: right; 
}
#configm{
	display: block;
	position: fixed;
	opacity: 0.92;
	width: 50px;
	z-index: 98;
    margin-left: 40px;
    float: left;
    left: 0%;
    cursor: pointer;
    margin-top: 5px;
	}
	.cm{
	width: 100px;
	cursor: pointer;
	}
#con{
float: left;
}

#tri{
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent gray transparent;
opacity: 0.95;
margin-top: 75px;
cursor: default;
    margin-left: 40px; float: left; 
}
.cm{
	background-color: gray;
	text-align: left;
	font-style: normal;
	color: white;
	font-size: 16px;
	alignment-adjust:central;
	border-bottom: 3px solid gray;
	width: 120;
	}
	.cm:hover{
	background-color: $gray;
	border-bottom: 3px solid $gray;
		}
.cm2{
background-color: gray;
	text-align: left;
	font-style: normal;
	color: white;
	font-size: 16px;
	alignment-adjust:central;
	border-bottom: 3px solid gray;
	width: 120;
    padding-top: 10px;
    padding-bottom: 5px;
}
.cm2:hover{
	background-color: $gray;
	border-bottom: 3px solid $gray;
}